@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: BlackwoodCastle;
  src: url(BlackwoodCastle.ttf);
}

@font-face {
  font-family: BladeRunner;
  src: url(BladeRunner.ttf);
}

@font-face {
  font-family: TrashHand;
  src: url(TrashHand.ttf);
}

@font-face {
  font-family: BlackPirates;
  src: url(BlackPirates.otf);
}

body {
  background: url(bg.jpg);
  font-family: BlackPirates;
  font-size: 2rem;
}

.text-shadow-xl {
  text-shadow: .25rem .25rem #00000059;
}